@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLXJhZ2hhdjI6Z294R053MThUQW9aZEdjSHFaV2Nldk0wd3VyaFl2bGM= 
always-auth=true